@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "reset.css";
body {
    font-family: 'Roboto';
}
.main {
    display: flex;
    flex-direction: column;
    gap: 90px;
    align-items: center;
    margin: 80px;
}
.title {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.small_title {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.paragraph {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.section {
    /* background-color: #f0f0f0; */
    border-radius: 10px;
    width: 600px;
    font-size: 15px;
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section h1 {
    font-size: 35px;
    line-height: 1.5;
    transition: all 0.3s ease;
}
h1:hover {
    color: red;
    font-size: 48px;
}
.section h2 {
    font-size: 27px;
    line-height: 1.2;
}
.section h3 {
    font-size: 20px;
    line-height: 1.5;
}
.section h4 {
    font-size: 17px;
    line-height: 1.5;
}
.description {
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.7;
    font-size: 15px;
}
.description a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
img {
    width: 1020px;
}
.quote {
    border-left: 3px solid black;
    padding-left: 15px;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

