* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.section {
    /* background-color: #f0f0f0; */
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    font-size: 15px;
    line-height: 1.8;
}
.section hr {
    margin-bottom: 8px;
}
.section p {
    margin-bottom: 30px;
}
.section > p:last-child
{
    margin-bottom: 80px;
}
.section h1 {
    font-size: 35px;
    padding-top: 45px;
    line-height: 1.5;
}
.section h2 {
    font-size: 27px;
    line-height: 1.2;
}
.section h3 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}
.section h4 {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 6px;
}
.description {
    color: rgba(0, 0, 0, 0.4);
    line-height: 1.7;
    font-size: 15px;
    margin-top: 20px;
    padding-bottom: 30px;
}
.description a {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
}
img {
    width: 1020px;
    padding-top: 30px;
    padding-bottom: 120px;
}
.quote {
    border-left: 3px solid black;
    padding-left: 15px;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

